<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Hola Mundo Neomorphism</title>

    <style>
        body {
          margin: 0;
          height: 100vh;
          display: flex;
          justify-content: center;
          align-items: center;
          background: #e0e5ec;
          font-family: Arial, sans-serif;
        }

        .card {
          width: 300px;
          padding: 40px;
          text-align: center;
          border-radius: 30px;
          background: #e0e5ec;
          box-shadow:
            10px 10px 25px #a3b1c6,
            -10px -10px 25px #ffffff;
        }

        .card h1 {
          margin: 0;
          color: #333;
          font-size: 32px;
        }

        .card p {
          color: #666;
          font-size: 16px;
        }
    </style>
</head>
<body>

    <div class="card">
        <h1>Hola Mundo</h1>
        <p>Mi primera tarjeta culaa</p>
    </div>

</body>
</html>